body {
   height: 100vh;
   margin: 0;
   padding: 20px;
   background-color: rgb(100, 172, 172);
}

#root {
   display: flex;
   flex: 1;
   align-items: center;
   gap: 60px;
   height: 100%;
}

.info {
  
   height: 100%;
   flex: 1;
   background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
 
}

.cv {
   background-color: white;
   flex: 1;
   height: 100%;

 
}

.general-info {
   

}

.education {
    
}

.experience {

}